* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

header, main, footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 32px;
}

a {
    text-decoration: none;
    color: black;
}

.container{
    max-width: 930px;
    width: 100%;
    padding: 0 25px;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 20px;
}

.nav-header-mid {
    max-width: 272px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buy-btn {
    width: 132px;
    height: 40px;
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    border: 0;
    border-radius: 20px;
    background: #8C1D18;
    color: white;
}

.main-section{
    padding-top: 80px;
    padding-bottom: 80px;
}

.easydraw-content-text {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.easydraw-content-text-h {
    font-size: 122px;
    position: relative;
    top: 24px;
    color: #8C1D18;
}

.easydraw-content-text-p {
    max-width: 209px;
    text-align: end;
}

.easydraw-content-text-p-subtitle {
    margin-top: 40px;
}

.easydraw-content-block {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.easydraw-content-block-banner {
    border-radius: 20px;
}

.easydraw-content-block-main {
    max-width: 499px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 25px;
    background-color: #EDEDED;
    border-radius: 20px;
}

.easydraw-content-img1 {
    position: relative;
    right: 12px;
}

.easydraw-content-img2 {
    position: relative;
    right: 24px;
}

.easydraw-content-img3 {
    position: relative;
    right: 36px;
}

.easydraw-content-block-main-text-p {
    max-width: 250px;
    color: gray;
    margin-bottom: 15px;
}

.easydraw-marker-text {
    max-width: 503px;
}

.star-img-block {
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.easydraw-marker-text-p {
    color: gray;
}

.easydraw-marker-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.easydraw-marker-content-block {
    max-width: 428px;
    width: 100%;
    margin-top: 20px;
}

.easydraw-marker-content-block-section {
    background-color: #EDEDED;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 13px;
}

.main-block-gray {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #EDEDED;
}

.advantages-easydraw {
    display: flex;
    height: 770px;
}

.advantages-easydraw-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.advantages-easydraw-main-content-h {
    margin-top: 40px;
    margin-bottom: 40px;
}

.advantages-easydraw-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0 10px;
    margin-left: 24px;
}

.advantages-easydraw-content-img {
    max-height: 250px;
}

.advantages-easydraw-content-h {
    color: #8C1D18;
    margin-bottom: 40px;
}

.advantages-easydraw-content-p {
    color: gray;
}

.arrow-btn-block {
    display: flex;
    justify-content: space-between;
    max-width: 120px;
    width: 100%;
}

.arrow-btn {
    -webkit-appearance: none;
		-moz-appearance: none;
			appearance: none;
		border: 0;
		border-radius: 20px;
		background: #8C1D18;
        width: 40px;
        height: 40px;
        font-size: 26px;
        color: white;
        padding-bottom: 3px;
}

.reviews-section-block {
    display: flex;
    justify-content: space-between;
}

.reviews-section {
    display: flex;
    justify-content: start;
    background-color: #EDEDED;
    max-width: 428px;
    width: 100%;
    border-radius: 16px;
    margin-top: 40px;
    margin-bottom: 24px;
}

.reviews-section-img {
    max-height: 225px;
}

.reviews-section-content {
    margin: 0 24px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews-section-text-name {
    color: #8C1D18;
    margin-bottom: 22px;
}

.reviews-section-text-company {
    color: gray;
}

.ending-main {
    display: flex;
    justify-content: space-between;
}

.ending-main-h {
    max-width: 353px;
}

.ending-main-content {
    max-width: 428px;
    width: 100%;
}

.ending-main-content-p {
    margin-bottom: 40px;
}

footer {
    background-color: #EDEDED;
}

.nav-footer {
    padding: 40px 0;
}

.nav-footer-top {
    display: flex;
    justify-content: space-between;
}

.nav-footer-top-block {
    display: flex;
    flex-direction: column;
}

.nav-footer-top-block-a {
    margin-bottom: 15px;
}

.nav-footer-bottom {
    display: flex;
    justify-content: space-between;
}

.nav-footer-bottom-copyright {
    display: flex;
    align-items: center;
}

.icon-copyright { 
    display: inline-block;
    font-size: 25px;
    color: gray;
    margin-right: 12px;
}

.p-copyright {
    color: gray;
}