* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

header, main, footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

h1 {
    font-size: 32px;
}

ul {
    list-style-type: none;
}

li {
    width: fit-content;
}

a {
    text-decoration: none;
    color: black;
}

button:active {
  transform: scale(0.98);
}

.container{
    max-width: 930px;
    width: 100%;
    padding: 0 25px;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 20px;
}

.nav-header-mid {
    max-width: 272px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.nav-header-mid.menu-active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.burger-btn {
    display: none;
}

.buy-btn {
    width: 132px;
    height: 40px;
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    border: 0;
    border-radius: 20px;
    background: #8C1D18;
    color: white;
    transition: background-color 0.2s ease;
}

.main-section{
    padding-top: 80px;
    padding-bottom: 80px;
}

.easydraw-content-text {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 10px;
}

.easydraw-content-text-h {
    font-size: 122px;
    position: relative;
    top: 24px;
    color: #8C1D18;
    margin-right: 15px;
}

.easydraw-content-text-p {
    max-width: 209px;
    text-align: end;
}

.easydraw-content-text-p-subtitle {
    margin-top: 40px;
}

.easydraw-content-block {
    display: flex;
    justify-content: space-between;
    max-height: 400px;
}

.easydraw-content-block-banner {
    border-radius: 20px;
    width: 40%;
    height: auto;
}

.block-shadow {
    box-shadow: 0px 2px 3px 0px gray;
}

.easydraw-content-block-main {
    width: 56%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 25px;
    background-color: #EDEDED;
    border-radius: 20px;
    background-image: url(img/Vector.png);
    background-size: cover;
}

.easydraw-content-img1 {
    position: relative;
    right: 12px;
}

.easydraw-content-img2 {
    position: relative;
    right: 24px;
}

.easydraw-content-img3 {
    position: relative;
    right: 36px;
}

.easydraw-content-block-main-photo {
    display: flex;
    flex-wrap: nowrap;
}

.easydraw-content-block-main-text-p {
    max-width: 250px;
    color: gray;
    margin-bottom: 15px;
}

.easydraw-marker-text {
    max-width: 503px;
}

.star-img-block {
    max-width: 120px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.easydraw-marker-text-p {
    color: gray;
}

.easydraw-marker-content {
    margin-top: 20px;
}

.easydraw-marker-content-top {
    display: flex;
    justify-content: space-between;
}

.easydraw-marker-content-bottom {
    display: flex;
    justify-content: space-between;
}

.easydraw-marker-content-block {
    width: 48%;
    height: auto;
    margin-top: 20px;
    border-radius: 13px;
}

.easydraw-marker-content-block-section {
    background-color: #EDEDED;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-block-gray {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #EDEDED;
}

.advantages-easydraw {
    display: flex;
    min-height: 770px;
}

.advantages-easydraw-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.advantages-easydraw-main-content-h {
    margin-top: 40px;
    margin-bottom: 40px;
}

.advantages-easydraw-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 250px;
    width: 100%;
    border-left: 2px solid white;
    border-right: 2px solid white;
    padding: 0 10px;
    margin-left: 24px;
}

.advantages-easydraw-content-img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}

.advantages-easydraw-content-h {
    color: #8C1D18;
    margin-bottom: 40px;
}

.advantages-easydraw-content-p {
    color: gray;
}

.arrow-btn-block {
    display: flex;
    justify-content: space-between;
    max-width: 120px;
    width: 100%;
}

.arrow-btn {
    -webkit-appearance: none;
		-moz-appearance: none;
			appearance: none;
		border: 0;
		border-radius: 20px;
		background: #8C1D18;
        width: 40px;
        height: 40px;
        font-size: 26px;
        color: white;
        padding-bottom: 3px;
        transition: background-color 0.2s ease;
}

.arrow-btn-block-mob{
    display: none;
}

.reviews-section-block {
    display: flex;
    justify-content: space-between;
}

.reviews-section {
    display: flex;
    justify-content: start;
    background-color: #EDEDED;
    width: 48%;
    height: auto;
    border-radius: 16px;
    margin-top: 40px;
    margin-bottom: 24px;
}

.reviews-section-img {
    width: auto;
    max-height: 225px;
}

.reviews-section-content {
    margin: 0 24px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.reviews-section-text-name {
    color: #8C1D18;
    margin-bottom: 22px;
}

.reviews-section-text-company {
    color: gray;
}

.ending-main {
    display: flex;
    justify-content: space-between;
}

.ending-main-h {
    width: 40%;;
}

.ending-main-content {
    width: 48%;
}

.ending-main-content-p {
    margin-bottom: 40px;
}

footer {
    background-color: #EDEDED;
}

.nav-footer {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    gap: 30px;
}

.nav-footer-top {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.nav-footer-top-block {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nav-footer-bottom {
    display: flex;
    justify-content: space-between;
}

.nav-footer-bottom-media {
    margin-right: 24px;
}

.nav-footer-bottom-copyright {
    display: flex;
    align-items: center;
}

.icon-copyright { 
    display: inline-block;
    font-size: 25px;
    color: gray;
    margin-right: 12px;
}

.p-copyright {
    color: gray;
}

@media screen and (min-width: 1024px) {
    button:hover {
        background-color: rgba(140, 29, 24, 0.7);
    }
}

@media screen and (max-width: 890px) {
    body {
        font-size: 15px;
    }
    h1 {
        font-size: 30px;
    }
    .easydraw-content-text-h {
        font-size: 116px;
    }
}

@media screen and (max-width: 770px) {
    body {
        font-size: 14px;
    }
    h1 {
        font-size: 26px;
    }
    .easydraw-content-text-h {
        font-size: 105px;
    }
}

@media screen and (max-width: 710px) {
    .easydraw-content-text {
        flex-direction: column;
        align-items: start;
    }
    .easydraw-content-text-h {
        position: static;
        top: 0;
        margin-right: 0;
    }
    .easydraw-content-text-p {
        display: flex;
        justify-content: space-between;
        max-width: 660px;
        width: 100%;
        text-align: end;
        margin-top: 10px;
    }
    .easydraw-content-text-p-subtitle {
        margin: 0 0 0 20px;
    }
}

@media screen and (max-width: 660px) {
    .main-section{
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .easydraw-content-block {
        flex-direction: column;
        max-height: 1600px;
        align-items: center;
    }
    .easydraw-content-block-banner {
        width: 100%;
    }
    .easydraw-content-block-main {
        width: 100%;
        padding: 30px 25px;
        margin-top: 23px;
    }
    .easydraw-content-block-main-text {
        margin-top: 150px;
    }
    .easydraw-content-block-main-text-p {
        margin: 40px 0 20px 0;
    }
    .easydraw-marker-content-top {
        flex-direction: column;
    }
    .easydraw-marker-content-bottom {
        flex-direction: column-reverse;
    }
    .easydraw-marker-content-block {
        width: 100%;
    }
    .easydraw-marker-content-block-section-p {
        margin-top: 30px;
    }
    .advantages-easydraw {
        flex-direction: column;
        min-height: 1044px;
        justify-content: space-between;
        align-items: end;
    }
    .advantages-easydraw-main-content-h {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .arrow-btn-block-desk {
        display: none;
    }
    .arrow-btn-block-mob {
        display: flex;
        margin-top: 30px;
    }
    .advantages-easydraw-content {
        max-width: 100%;
        margin-left: 0;
        margin-top: 40px;
    }
    .advantages-easydraw-content-right {
        display: none;
    }
    .advantages-easydraw-content-p {
        margin-bottom: 64px;
    }
    .reviews-section {
        width: 100%;
    }
    .reviews-section-right {
        display: none;
    }
    .reviews-section-text {
        max-width: 330px;
    }
    .arrow-btn-block-flex-end {
        width: 100%;
        display: flex;
        justify-content: end;
    }
    .ending-main {
        flex-direction: column;
    }
    .ending-main-h {
        width: 100%;
    }
    .ending-main-content {
        width: 100%;
    }
    .ending-main-content-p {
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .nav-header-mid {
        position: absolute;
        top: 80px;
        right: 10%;
        z-index: 1;
        flex-direction: column;
        gap: 10px;
        max-width: 320px; 
        height: auto;
        padding: 15px 30px;
        background-color: #EDEDED;
        border-radius: 15px;
        box-shadow: 0px 2px 3px 0px gray; 
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10px);
        transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    }
    .burger-btn {
        display: block;
        width: 40px;
        height: 40px;
        -webkit-appearance: none;
            -moz-appearance: none;
                appearance: none;
        border: 0;
        border-radius: 20px;
        background: #8C1D18;
        color: white;
        font-size: 26px;
        transition: background-color 0.2s ease;
    }
    .nav-footer-top {
        flex-wrap: wrap;
    }
    .nav-footer-bottom {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 620px) {
    .easydraw-content-text-h {
        font-size: 90px;
    }
    .nav-header-mid {
        right: 8%;
    }
}

@media screen and (max-width: 450px) {
    .main-section{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .easydraw-content-text-h {
        font-size: 80px;
    }
    .nav-header-mid{
        max-width: 250px;
    }
}

@media screen and (max-width: 420px) {
    body {
        font-size: 13px;
    }
    h1 {
        font-size: 24px;
    }
    .easydraw-content-text-h {
        font-size: 70px;
    }
}

@media screen and (max-width: 400px) {
    .main-section{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .easydraw-content-text-h {
        font-size: 55px;
    }
    .nav-header-mid {
        max-width: 220px;
    }
}