* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Medium", sans-serif;
  font-size: 17px;
}

header, main, footer{
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

.container{
    max-width: 880px;
    width: 100%;
}

.nav-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 20px;
}

.nav-header-mid {
    max-width: 272px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.buy-btn {
    width: 132px;
    height: 40px;
    -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
    border: 0;
    border-radius: 20px;
    background: #8C1D18;
    color: white;
}

.easydraw-content{
    margin-top: 80px;
}

.easydraw-content-text {
    display: flex;
    justify-content: space-between;
}

.easydraw-content-block {
    display: flex;
    justify-content: space-between;
    height: 400px;
}

.easydraw-content-block-banner {
    border-radius: 20px;
}

.easydraw-content-block-main {
    max-width: 499px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 25px;
    background-color: #EDEDED;
    border-radius: 20px;
}